// General Container Layout
.widget-container-full {
    width: 95vw;
    @media screen and (min-width: 768px) {
        width: 90vw;
    }
}
.widget-container-half {
    width: 95vw;
    @media screen and (min-width: 768px) {
        width: 45vw;
    }
}

// Dashboard
.main-header {
    display: grid;
    grid-template-columns: 100px 1fr;
}
.main-header h2 {
    font-size: 1em;
    padding: 10px;
    margin: 0;
    width: 95%;
    @media screen and (min-width: 768px) {
        width: 95%;
    }
}
.main-header-search{
    // margin-left: auto;
    & input {
        height: 38px;
        border: none;
        border-left: gray .5px solid;
        border-bottom: gray .5px solid;
        background-color: lightgrey;
        width: 100%;
    }
}
.daily,
.mobile {
    @media screen and (min-width: 1024px) {
        width: 450px;
    }
}
// Alert Notification
.alert-banner {
    display: flex;
    flex-direction: row;
    padding: 3px 7px;
    background-color: $color-primary;
    color: $white;
    border-radius: 5px;
    margin: 10px;
    font-size: 13px;
}
.alert-banner-close {
    display: inline-block;
    margin-left: auto;
}

// Bell Messages
.notifications-banner {
    display: flex;
    flex-direction: row;
    color: #000;
    font-size: 13px;
    text-align: center;
    z-index: 2;
    background-color: lightgrey;
    width: 125px;
    margin: 0;
}
#notifications {
    z-index: 2;
    background-color: lightgrey;
    position: absolute;

}
.notifications-banner-close {
    display: inline-block;
    margin-left: 10px;
    padding: 0 10px;
}
.notifications-banner p {
    z-index: 2;
    background-color: lightgrey;
}
.green-thing {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position: absolute;
    background-color: lime;
    right: 181px;
}
svg[viewBox="0 0 117.033 122.88"]:hover{
    transform: rotate(10deg) scale(1.1);
    transition: transform .3s ease-in;
}
// Traffic Time-Frame Selection
.traffic-header {
    & ul {
        margin: 0 auto;
        padding: 10px;
    }
    & h3 {
        margin-bottom: 0;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        & ul {
            margin: 0;
            margin-left: auto;
        }
    }    
}

// Graph container styles
section {
    border-bottom: lightgrey .5px solid;
}
.daily h3,
.mobile h3,
.settings h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}
.widget-container-half {
    padding: 10px;
    // max-width: 100vw;
    // & canvas {
    //     max-width: 300px;
    // }
}
#mobile-chart {
    @media screen and (min-width: 768px) {
        max-height: 150px;
    }
}


// Social Stats
.social-container {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    border: gray .5px solid;
    border-radius: 10px;
    margin: 0 20px 20px 20px;
    @media screen and (min-width: 768px) {
        margin: 0 10px 10px 10px;
    }
}
.social-image {
    background-color: $color-primary;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 20px;
    & svg {
        fill: $white;
        width: 30px;
        height: 30px;
    }
}
.social-text p:last-child{
    font-size: 30px;
}
.social-text p:first-child{
    margin-top: 15px;
    color: $color-primary;
    font-weight: 700;
}
.social-text p{
    margin: 0;
    @media screen and (min-width: 768px) {
        padding: 0 15px;
    }
}
.social-div {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

// Members + Activity
.members-container,
.activity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: gray .5px solid;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        & p {
            margin-left: auto;
        }
        & img {
            margin: 20px;
        }
        margin-bottom: 0;
    }
}
.activity-container {
    & p:last-child {
        display: none;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        text-align: left;
        flex-direction: row;
        & p:last-child {
            display: block;
            margin-left: auto;
            padding: 10px;
        }
    }
}
.activity-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
        & div {
            & p {
                text-align: left;
            }
        }
    }
}
.activity-text p,
.member-text p,
.member-text a {
    text-align: center;
    padding: 5px 10px;
    margin: 0 0 5px;
}
.members,
.activity {
    border: none;
}

// Message User
form {
    display: flex;
    flex-direction: column;
    // max-width: 300px;
    @media screen and (min-width: 768px) {
        max-width: 720px;
    }
    & button {
        color: $white;
        background-color: $color-primary;
        margin: 10px;
        border-radius: 5px;
        height: 50px;
        border-style: none;
    }
    & input {
        margin: 10px;
        border-radius: 5px;
        height: 50px;
        border: 1px solid grey;
        background-color: lightgrey;
    }
    & textarea {
        margin: 10px;
        border-radius: 5px;
        height: 150px;
        background-color: lightgrey;
    }
}

// Settings
.settings-container {
    display: flex;
    & label {
        width: 80px;
        margin: auto 0 auto auto;
    }
    &:last-child {
        margin-bottom: 20px;
    }
}
.settings select {
    // max-width: 280px;
    // @media screen and (min-width: 768px) {
    //     max-width: 650px;
    // }
    height: 30px;
}
.settings-button button {
    width: 100px;
    @media screen and (min-width: 768px) {
        width: 310px;
    }
    @media screen and (min-width: 1024px) {
        width: 180px;
    }
    // @media screen and (min-width: 1024px) {
    //     width: 309px;
    // }
    height: 50px;
    border-radius: 5px;
    border-style: none;
    &:first-child {
        background-color: $color-primary;
        color: $white;
        margin-right: 27px;
    }
    &:last-child {
        background-color: grey;
        color: $white;
    }
}
.switch-ios.switch-light input:checked ~ span {
    border-color: $color-primary;
    box-shadow: inset 0 0 0 30px $color-primary;
}
.switch-ios.switch-light input:checked ~ span a {
    border-color: lightgrey;
}
.settings {
    padding: 20px;
    // max-width: 320px;
    // @media screen and (min-width: 768px) {
    //     max-width: 768px;
    // }
    & h3 {
        padding: 0;
    }
}
#timezone {
    margin: 30px 0 15px 0;
    height: 50px;
    background-color: lightgrey;
    border-radius: 5px;
    @media screen and (min-width: 768px) {
        width: 700px;
    }
    @media screen and (min-width: 1024px) {
        width: 400px;
    }
}

.daily,
.members,
.message {
    @media screen and (min-width: 1024px) {
        border-right: lightgrey .5px solid;
    }
}