// SVG Nav Bar
nav {
    display: flex;
    flex-direction: row;
    // padding: 10px auto;
    background-color: $color-secondary;
    align-items: center;
    @media screen and (min-width: 768px) {
        flex-direction: column;
    }
}
a svg {
    width: 30px;
    fill: $white;
    padding: 10px 20px;
}
a[href="#top"]:first-child {
    margin-left: auto;
    @media screen and (min-width: 768px) {
        margin-left: 0;
    }
}
a[href="#settings"]:last-child {
    margin-right: auto;
    @media screen and (min-width: 768px) {
        margin-right: 0;
    }
}

// Traffic Time-Frame Selection
ul {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
}
li {
    list-style: none;
    padding: 10px;
    border-radius: 10px;
}
li:first-child {
    background-color: $green;
    color: $white;
}
h3 {
    padding: 10px;
}